* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: blue;
    padding: 50px;
    text-align: center;
}

Header h1 {
    font-size: 50px;
    color: white;
}

.mainContainer {
    display: flex;
    flex-wrap: nowrap;
    background-color: grey;
}

.containerSideMenu {
    flex: 30%;
    background-color: white;
    padding: 20px;
}

.containerIndexHolder {
    flex: 70%;
    background-color: blue;
    padding: 20px;
}